{% extends 'base_generic.html' %}

{% block content_l %}
  <style>
    body {
      background-size: cover;
      height: 100vh;
    }
    .register-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      max-width: 90%;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.15);
    }
    .card {
      border: none;
    }
    .card-header {
      background-color: #333;
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      border-radius: 10px 10px 0 0;
    }
    .card-body {
      padding: 20px;
    }
    .form-control {
      border-radius: 5px;
      margin-bottom: 15px;
    }
    .btn-primary {
      background-color: #337ab7;
      color: white;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
    }
    .signup-link {
      display: block;
      text-align: center;
      margin-top: 20px;
    }
  </style>

  <div class="register-container">
    <div class="card">
      <div class="card-header">
        <h1><img src="logo.png" alt="Logo" width="100px"> Register</h1>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
            <input type="username" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" required>
          </div>
          <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
            <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" required>
          </div>
          <div class="mb-3">
            <label for="{{ form.password1.id_for_label }}" class="form-label">Password</label>
            <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" required>
          </div>
          <div class="mb-3">
            <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" required>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <a class="signup-link" href="{% url 'login' %}">Already have an account? Login</a>
      </div>
    </div>
  </div>
{% endblock %}
